{
    "extends": "airbnb-base",
    "rules": {
        "func-names": "off",
        "class-methods-use-this": "off",
        "lines-between-class-members":"off",
        "no-plusplus":"off"
    },
    "globals": {
        "browser": true
    }
}
